html, body{
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
}
/*menu*/
.menu {
  background-color: darksalmon;
  left: -30%;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 30%;
  overflow-y: scroll;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.top-bar {
  color: #FFACB8;
  padding: 25px;
  font-family: 'Open Sans', sans-serif;
  /*text-align: center;*/
}

.top-bar .title{
  font-size: 2em;
}
/* Basic styling */

.jumbotron {
  background-image: url('http://s3.amazonaws.com/codecademy-content/courses/ltp2/img/uber/bg.png'); 
  height: 100%;
  padding-top: 0;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}


form > input, form button{
  margin-bottom: 15px;
}
form{
  width: 300px;
}
form button{
  color:#000;
}
textarea{
  color:black;
}

.story-view{
  display: table;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  color: rgba(255, 255, 255, 0.83);
}

.story-view img{
  border-radius: 2px;
  height: 180px;
  width: 180px;
}

.audio-box, 
.slider-wrapper{
  display: inline-table;
  
}

.glyphicon{
  font-size: 1.5em;
  margin-right: 15px;
}

#font-range{
  width: 80px;
  display: inline-block;

}

.control-panel{
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 15px;
  /*text-align: right;*/
}
.audio-box{
  margin-right: 15px;
  position: relative;
  top: 0;
}
.library-view{
  width: 26%;
}
.reading-section{
  width: 100%;
  position: absolute;
}
.reading-section p{
  text-align: justify;
  color: #FFACB8;
  padding: 3em;
  font-size: 16px;
  height: 700px;
  overflow-y: scroll;
}



