html, body{
  height: 100%;
  padding: 0 2.5em;
}

.story-view{
  display: inline-table;
  margin-top: 40px;
  width: 200px;
  height: 200px;
}
.story-view img{
  border: 1px solid yellowgreen;
  border-radius: 5px;
  height: 180px;
  width: 180px;
}
.library, .reading-section{
  width: 46%;
  display: inline-table;
}
.reading-section{
  text-align: justify;
}
